#HomeInfo {
  padding: 0;
}
#HomeInfo li {
  list-style-type: none;
}
#HomeInfo li h3 {
  background: #5D1EC2;
  color: #FFE880;
  font-size: 24px;
  padding: 10px 0;
}
#HomeInfo li p {
  margin: 10px 20px;
  line-height: 2.5rem;
}