#NavBar {
  background-color: #5d1ec2;
  background-image: url("../../images/black-twill.png");
  position: relative;
  width: 100%;
  top: 0;
  padding: 10px 0;
  display: flex;
}

#logo {
  background-image: url("./../../images/FAVR_Icon.png");
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  width: 50px;
  border-radius: 5px;
}
#nav {
  align-self: center;
  margin-right: 10px;
}