
#footer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: #5d1ec2;
  background-image: url("../../images/black-twill.png");
  padding: 10px;
}

#copyright {
  margin-left: 10px;
  align-self: center;
}

#aboutBtn {
  margin-right: 10px;
}