.FavorOut {
  list-style-type: none;
}
.simpleTagOut {
  margin: 20px auto 0 auto;
  background: #daccf0;
  border-radius: 5px;
  display: flex;
  min-width: 300px;
  height: 100%;
  position: relative;
  /* display: flex; */
}
.dateOutAsked {
  background-color: #5d1ec2;
  background-image: url("../../images/black-twill.png");
  color: white;
  min-width: 300px;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  text-align: left;
}
.favorOutInfo {
  align-self: center;
  min-width: 100%;
}
.infoOutText {
  max-width: calc(100% - 55px);
  margin: 10px;
}
.infoOutText p, .infoOutText h4 {
  text-align: left;
}
.favorOutQuit {
  position: absolute;
  height: 100%;
  width: 50px;
  background: crimson;
  right: 0;
  border: none;
  border-radius: 0 5px 5px 0;
}
.favorOutQuit:hover {
  cursor: pointer;
  background: darkred;
}

.detailsOut {
  margin: 0px;
  width: 100%;
  border-radius: 0 0 5px 5px;
}