.Favor {
  list-style-type: none;
}
.simpleTag {
  margin: 20px 20px 0 20px;
  background: #ddd;
  border-radius: 5px;
  display: flex;
  min-width: 300px;
  height: 100%;
  position: relative;
}
.dateAsked {
  background: cornflowerblue;
  color: white;
  min-width: 300px;
  padding: 5px;
}
.favorInfo {
  align-self: center;
}
.infoText {
  max-width: 70%;
  margin: 10px auto;
}
.altUser {
  font-weight: bold;
  color: blue;
}
.favorComplete {
  position: absolute;
  height: 100%;
  width: 50px;
  background: green;
  margin-left: 0;
  border: none;
  border-radius: 5px 0 0 5px;
}
.favorComplete:hover {
  cursor: pointer;
  background: darkgreen;
}
.favorQuit {
  position: absolute;
  height: 100%;
  width: 50px;
  background: crimson;
  right: 0;
  border: none;
  border-radius: 0 5px 5px 0;
}
.favorQuit:hover {
  cursor: pointer;
  background: darkred;
}

.details {
  margin: 0px;
  width: 100%;
  border-radius: 0%;
}
.detailTag {
  background: #555;
  color: white;
  margin: -5px 20px;
  border: #555;
  min-width: 300px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  /* border: 2px solid #999; */
}