.Favor {
  list-style-type: none;
}
.simpleTag {
  margin: 20px auto 0 auto;
  background: #daccf0;
  border-radius: 5px;
  display: flex;
  min-width: 300px;
  height: 100%;
  position: relative;
}
.dateAsked {
  background-color: #5d1ec2;
  background-image: url("../../images/black-twill.png");
  color: white;
  min-width: 300px;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.favorInfo {
  align-self: center;
  width: 100%;
}
.infoText {
  max-width: 70%;
  margin: 10px auto;
}
.altUser {
  font-weight: bold;
  color: blue;
}
.favorComplete {
  position: absolute;
  height: 100%;
  width: 50px;
  background: #36A32A;
  margin-left: 0;
  border: none;
  border-radius: 5px 0 0 5px;
}
.favorComplete:hover {
  color: white;
  cursor: pointer;
  background: #96E64E;
}
.favorQuit {
  position: absolute;
  height: 100%;
  width: 50px;
  background: crimson;
  right: 0;
  border: none;
  border-radius: 0 5px 5px 0;
}
.favorQuit:hover {
  color: white;
  cursor: pointer;
  background: rgb(255, 100, 100);
}

.details {
  margin: 0px;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
.detailTag {
  background: #484A47;
  color: white;
  margin: -5px 0 0 0;
  border: #daccf0;
  min-width: 300px;
  padding: 15px 10px 10px 10px;
  border-radius: 0 0 5px 5px;
  /* border: 2px solid #999; */
}
.fa {
  color: white;
  font-size: 26px;
}
.fa-thumbs-up {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

@media only screen and (min-width:768px){
  .simpleTag {
    width: 100%;
  }
}